.message {
  margin: 0.5em;
  max-width: 60%;
}

.message.self {
  margin-left: auto;
}

.message__header {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1;
}

.text {
  word-break: break-word;
  text-align: justify;
}
