/* Reset CSS*/
@import '~normalize.css';
/* Material prebuilt theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  max-width: 1920px;
  min-width: 250px;
  margin: 0 auto;
  background-color: gray;
}

body {
  font-family: Roboto, 'Helvetica Neue', 'sans-serif';
  height: 100%;
  min-height: -webkit-fill-available;
}
