/* Reset CSS*/
@import '~normalize.css';
/* Material prebuilt theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  box-sizing: border-box;
}
html {
  position: relative;
  max-width: 1900px;
  margin: 0 auto;
  background-color: #777;
}

html,
body {
  font-family: Roboto, 'Helvetica Neue', 'sans-serif';
  height: 100%;
}
