/* Reset CSS*/
@import '~normalize.css';
/* Material prebuilt theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/* Custom themes */
@import '~@angular/material/theming';
@include mat-core();

@mixin body-background($theme) {
  //$foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  background-color: mat-color($background, background);
}

@import 'app/chat/components/message/message.component.theme.scss';
/* Custom components theming. */
@mixin custom-components-theme($theme) {
  @include self-message-theme($theme);
}

@import './themes/default-theme.scss';
@import './themes/dark-theme.scss';
@import './themes/candy-theme.scss';

.default-theme {
  @include angular-material-theme($default-theme);
  @include body-background($default-theme);
  @include custom-components-theme($default-theme);
}

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include body-background($dark-theme);
  @include custom-components-theme($dark-theme);
}

.candy-theme {
  @include angular-material-theme($candy-theme);
  @include body-background($candy-theme);
  @include custom-components-theme($candy-theme);
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  max-width: 1920px;
  min-width: 250px;
  margin: 0 auto;
  background-color: gray;
}

body {
  font-family: Roboto, 'Helvetica Neue', 'sans-serif';

  height: 100%;
  width: 100%;
  min-height: -webkit-fill-available;
}
