<mat-card class="central-card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon [inline]="true">chat</mat-icon>
      Inicia sesión
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onSubmit()" [formGroup]="form" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input
          matInput
          formControlName="username"
          required
          type="text"
          placeholder="Nombre de usuario"
        />
        <mat-error *ngIf=""></mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          formControlName="password"
          required
          type="password"
          placeholder="Contraseña"
        />
      </mat-form-field>
      <mat-error *ngIf="!(isValidLoginAttempt$ | async)"
        >Combinación de usuario y contraseña incorrecta</mat-error
      >
      <button
        class="mat-primary mat-raised-button btn--big"
        type="submit"
        [disabled]="form.invalid"
      >
        Enviar
      </button>

      <!--  <p>{{ getErrorsByControl(form) | json }}</p> -->
    </form>
  </mat-card-content>
  <mat-card-footer>
    <h3>¿No estás registrado?</h3>
    <a [routerLink]="['/home', 'signup']" routerLinkActive="router-link-active"
      >Regístrate</a
    >
  </mat-card-footer>
</mat-card>
