<ng-container *transloco="let t">
  <mat-card class="central-card">
    <mat-card-header style="justify-content: center">
      <mat-card-title>
        <mat-icon [inline]="true">chat</mat-icon>
        <span>{{ t('doLogin') }}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onSubmit()" [formGroup]="form" class="form" cdkTrapFocus>
        <mat-form-field appearance="outline" [controlErrors]="errors.username">
          <mat-label>{{ t('user') }}</mat-label>
          <input
            matInput
            autofocus
            formControlName="username"
            required
            type="text"
            [placeholder]="t('user')"
          />
          <mat-icon matSuffix></mat-icon>
          <mat-error autofillErrors></mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" [controlErrors]="errors.password">
          <mat-label>{{ t('password') }}</mat-label>
          <input
            matInput
            formControlName="password"
            required
            [type]="showPassword ? 'text' : 'password'"
            [placeholder]="t('password')"
          />
          <mat-icon
            class="clickable"
            matSuffix
            (click)="showPassword = !showPassword"
            >{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon
          >
          <mat-error autofillErrors></mat-error>
        </mat-form-field>
        <mat-error *ngIf="(isValidLoginAttempt$ | async) === false"
          >{{ t('invalidLoginAttempt') }}</mat-error
        >
        <button
          class="mat-primary mat-raised-button btn--big"
          type="submit"
          [disabled]="form.invalid"
        >
          {{ t('submit') }}
        </button>

        <!--  <p>{{ getErrorsByControl(form) | json }}</p> -->
      </form>
    </mat-card-content>
    <mat-card-footer>
      <h3>{{ t('notRegisteredYet') }}</h3>
      <a
        [routerLink]="['/home', 'signup']"
        routerLinkActive="router-link-active"
        >{{ t('doSignup') }}</a
      >
    </mat-card-footer>
  </mat-card>
</ng-container>
