chat-and-call-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  //background: radial-gradient(#45606d, #000);
}

mat-card-title {
  mat-icon {
    transform: translateY(3px);
    &:after {
      content: '';
      margin-right: 6px;
    }
  }
}

.btn--big {
  padding: 1em 3em;
}

.clickable {
  cursor: pointer;
}

/* @supports (height: -webkit-fill-available) {
  chat-and-call-root {
    height: 100vh;
    border: 1px solid blue;
  }
} */

/* Android Firefox strange behaviour with mat-sidenav
* TODO: try to fix bug
*/
@supports (min-height: -moz-available) {
  chat-and-call-root {
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
  }
}
