chat-and-call-root {
  display: flex;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#45606d, #000);
}

mat-card-title {
  mat-icon{
    transform: translateY(3px);
    &:after{
      content: '';
      margin-right: 6px;
    }
  }
}

.btn--big {
  padding: 1em 3em;
}
