<chat-and-call-chat-header></chat-and-call-chat-header>
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened>
    <h2>Channels</h2>
    <ng-container *ngIf="channels$ | async as channels">
      <ng-container *ngFor="let channel of channels; let first = first">
        <mat-divider *ngIf="first === false"></mat-divider>
        <button style="width: 100%; text-align: left;" mat-button (click)="setFocus(channel.id)">
          <p>{{ channel.title }}</p>
        </button>
      </ng-container>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="focus$ | async as focus">
    <h2>{{ focus.title }}</h2>
    <p>Count : {{ newMessagesCount }}</p>
    <div #message_container class="chat">
      <chat-and-call-message
        *ngFor="let m of messages$ | async"
        [message]="m"
        (viewed)="onViewed($event)"
      >
      </chat-and-call-message>
    </div>
    <form [formGroup]="messageForm" (submit)="sendMessage(focus.id)">
      <input type="text" formControlName="text" />
      <button type="submit">Enviar</button>
      <input type="file" formControlName="file" />

      {{ messageForm.value | json }}
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
